<div class="scanner-container p-2">
  <h1 class="mt-3 mb-5 text-bold">VIN BARCODE SCANNER</h1>
  <div id="barcode-scanner"></div>
<div *ngIf="scannedVinNumber" class="conditional-display">
  <h3 class="mt-2">
    Detected VIN number:
    <span class="text-success vin-number">{{ scannedVinNumber }}</span>
  </h3>
  <button
    class="reload btn btn-block-lg btn-primary mt-3"
    (click)="load_quagga()"
  >
    Scan New Barcode
  </button>
</div>
</div>

<!--
*ngIf="scannedVinNumber"
*ngIf="scannedVinNumber" -->
