<div class="scanner-container p-2">
  <h1 class="mt-3 mb-5 text-bold">VIN BARCODE SCANNER</h1>
  <video id="barcode-scanner" autoplay="true"></video>
  <button
    class="reload btn btn-block-lg btn-primary mt-3 mx-auto"
    (click)="take_picture()"
  >
    Take picture
  </button>

  <h4 *ngIf="scanAgain" class="text-danger mt-5">
    Barcode not scanned properly. Please take a picture again
  </h4>

  <h4 *ngIf="noBarcodeFound" class="text-danger mt-5">No barcode found!</h4>
  <canvas id="takePhotoCanvas"></canvas>
</div>

<div *ngIf="scannedVinNumber" class="conditional-display">
  <h3 class="mt-2">
    Detected VIN number:
    <span class="text-success vin-number">{{ scannedVinNumber }}</span>
  </h3>
  <button
    class="reload btn btn-block-lg btn-primary mt-3"
    (click)="load_quagga()"
  >
    Scan New Barcode
  </button>
</div>

<!--
*ngIf="scannedVinNumber"
*ngIf="scannedVinNumber" -->
